{% extends "base.html" %}
{% load static %}
{% block bodycontent %}
<section id="contact" class="contact">
<div class="container">

    <div class="section-title">
    <h2>Contact</h2>
    </div>

    <div class="row" data-aos="fade-in">

    <div class="col-lg-5 d-flex align-items-stretch">
        <div class="info">
        <div class="address">
            <i class="bi bi-geo-alt"></i>
            <h4>Location:</h4>
            <p>{{ personal_info.address }}</p>
        </div>

        <div class="email">
            <i class="bi bi-envelope"></i>
            <h4>Email:</h4>
            <p><a href="mailto:{{ personal_info.user.email }}">{{ personal_info.user.email }}</a></p>
        </div>

        <div class="phone">
            <i class="bi bi-phone"></i>
            <h4>Call:</h4>
            <p>{{ personal_info.phone }}</p>
        </div>

        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3046.6508837734737!2d44.5597978!3d40.2168282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x406aa2e471c3704b%3A0x6c0a5b7f8c4134c3!2s1%20Acharyan%20St%2C%20Yerevan%200040!5e0!3m2!1sen!2sam!4v1689268426985!5m2!1sen!2sam" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>

    </div>

    <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
        <form action="/" method="post" role="form" class="php-email-form">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-6 form-group">
                    <input type="text" name="full_name" class="form-control" id="full_name" placeholder="Full Name" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                    <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                </div>
            </div>
            <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
            </div>
            <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="10" placeholder="Message" required></textarea>
            </div>
    
            <div class="my-1">
                <div class="loading">Loading</div>
                <div class="error-message">Error</div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
            </div>
    
            <div class="text-center">
                <button type="submit" id="submit-btn" onclick="disableButton()">Send Message</button>
            </div>
            
            <script>
                function disableButton() {
                    const submitButton = document.getElementById('submit-btn');
                    submitButton.disabled = true;
                    submitButton.innerText = 'Sending...'; // Optional: Change the button text on submission
                }
            </script>
        </form>
    </div>
    

    </div>

</div>
</section>

{% endblock %}