{% extends "base.html" %}
{% load static %}
{% block bodycontent %}
<section id="contact" class="contact">
<div class="container">

    <div class="section-title">
    <h2>Contact</h2>
    </div>

    <div class="row" data-aos="fade-in">

    <div class="col-lg-5 d-flex align-items-stretch">
        <div class="info">
        <div class="address">
            <i class="bi bi-geo-alt"></i>
            <h4>Location:</h4>
            <p>Acharyan 1, Yerevan, Armenia</p>
        </div>

        <div class="email">
            <i class="bi bi-envelope"></i>
            <h4>Email:</h4>
            <p><a href="mailto:lilit.khachatryan.botany@gmail.com">{{email}}</a></p>
        </div>

        <div class="phone">
            <i class="bi bi-phone"></i>
            <h4>Call:</h4>
            <p>{{phone}}</p>
        </div>

        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3046.6508837734737!2d44.5597978!3d40.2168282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x406aa2e471c3704b%3A0x6c0a5b7f8c4134c3!2s1%20Acharyan%20St%2C%20Yerevan%200040!5e0!3m2!1sen!2sam!4v1689268426985!5m2!1sen!2sam" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>

    </div>

    <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
        <form action="{% static 'forms/contact.php' %}" method="post" role="form" class="php-email-form">
        <div class="row">
            <div class="form-group col-md-6">
            <label for="name">Your Name</label>
            <input type="text" name="name" class="form-control" id="name" required>
            </div>
            <div class="form-group col-md-6">
            <label for="name">Your Email</label>
            <input type="email" class="form-control" name="email" id="email" required>
            </div>
        </div>
        <div class="form-group">
            <label for="name">Subject</label>
            <input type="text" class="form-control" name="subject" id="subject" required>
        </div>
        <div class="form-group">
            <label for="name">Message</label>
            <textarea class="form-control" name="message" rows="10" required></textarea>
        </div>
        <div class="my-3">
            <div class="loading">Loading</div>
            <div class="error-message"></div>
            <div class="sent-message">Your message has been sent. Thank you!</div>
        </div>
        <div class="text-center"><button type="submit">Send Message</button></div>
        </form>
    </div>

    </div>

</div>
</section>

{% endblock %}