{% extends "base.html" %}
{% load static %}
{% block bodycontent %}

<section id="facts" class="facts">
    <div class="container">

    <div class="section-title">
    <h2>Facts</h2>
    <p></p>
    </div>

    <div class="row no-gutters">

    <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up">
        <div class="count-box">
        <i class="bi bi-hourglass"></i>
        <span data-purecounter-start="0" data-purecounter-end="12" data-purecounter-duration="1" class="purecounter"></span>
        <p><strong>Years of experience</strong> in Urban forestry and Geobotany</p>
        </div>
    </div>

    <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="100">
        <div class="count-box">
        <i class="bi bi-journal-richtext"></i>
        <span data-purecounter-start="0" data-purecounter-end="5" data-purecounter-duration="1" class="purecounter"></span>
        <p><strong>Projects</strong> on Geobotany and Biodiversity</p>
        </div>
    </div>

    <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="200">
        <div class="count-box">
        <i class="bi bi-file-earmark"></i>
        <span data-purecounter-start="0" data-purecounter-end="18" data-purecounter-duration="1" class="purecounter"></span>
        <p><strong>Publications</strong> on Urban Forestry and Urban Greening</p>
        </div>
    </div>

    <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="300">
        <div class="count-box">
        <i class="bi bi-award"></i>
        <span data-purecounter-start="0" data-purecounter-end="10" data-purecounter-duration="1" class="purecounter"></span>
        <p><strong>Awards</strong> on Life Sciences</p>
        </div>
    </div>

    </div>

</div>
</section>
{% endblock %}