{% extends "base.html" %}
{% load static %}
{% block bodycontent %}

<header id="header">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.css" />
    <script src="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.js"></script>

    <div class="d-flex flex-column">

    <div class="profile">
        <img src="{% static 'assets/img/profile-img.jpg' %}" alt="" class="img-fluid rounded-circle">
        <h1 class="text-light"><a href="{% static 'index.html' %}">Lilit Khachatryan</a></h1>
        <div class="social-links mt-3 text-center">
        
        <a href="https://www.researchgate.net/profile/Lilit-Khachatryan-3/" class="researchgate" target="_blank"><i class="fab fa-researchgate"></i></a>
        <a href="https://www.linkedin.com/" class="linkedin" target="_blank"><i class="bx bxl-linkedin"></i></a>
        <a href="https://www.facebook.com/Lilit.Robert.Khachatryan/" class="facebook" target="_blank"><i class="bx bxl-facebook"></i></a>
        <a href="https://www.instagram.com/ahava_handmade/" class="instagram" target="_blank"><i class="bx bxl-instagram"></i></a>
        
        

        </div>
    </div>

    <nav id="navbar" class="nav-menu navbar">
    <ul>
        <li><a href="#hero" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a></li>
        <li><a href="#about" class="nav-link scrollto"><i class="bx bx-user"></i> <span>About</span></a></li>
        <li><a href="#resume" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Resume</span></a></li>
        <li><a href="#portfolio" class="nav-link scrollto"><i class="bx bx-book-content"></i> <span>Portfolio</span></a></li>
        <li><a href="#services" class="nav-link scrollto"><i class="bx bx-server"></i> <span>Services</span></a></li>
        <li><a href="#contact" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span>Contact</span></a></li>
    </ul>
    </nav><!-- .nav-menu -->
</div>
</header>
{% endblock %}