{% extends "base.html" %}
{% load static %}
{% block bodycontent %}

<header id="header">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.css" />
    <script src="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.js"></script>

    <div class="d-flex flex-column">

    <div class="profile">
        <img src="{% static 'assets/img/profile-img.jpg' %}" alt="" class="img-fluid rounded-circle">
        <h1 class="text-light"><a href="{% static 'index.html' %}">Lilit Khachatryan</a></h1>
        <div class="social-links mt-3 text-center">
            {% for social_link in socials%}
            <a href="{{social_link.link}}" class="{{social_link.class_name}}" target="_blank"><i class="{{social_link.icon_name}}"></i></a>        
            {% endfor %}
        </div>
    </div>


    <nav id="navbar" class="nav-menu navbar">
    <ul>
        {% for navbar in navbars %}
        <li><a href="{{navbar.href}}" class="{{navbar.class_name}}"><i class="{{navbar.icon_class}}"></i> <span>{{navbar.section_name}}</span></a></li>
        {% endfor %}
    </ul>
    </nav><!-- .nav-menu -->
</div>
</header>
{% endblock %}