{% extends "base.html" %}
{% load static %}
{% block bodycontent %}

<div class="cookie-banner">
  <p>This website uses cookies. Do you accept?</p>
  <button id="accept-cookies">Accept</button>
  <button id="decline-cookies">Decline</button>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    const cookieBanner = document.querySelector(".cookie-banner");
    const acceptButton = document.getElementById("accept-cookies");
    const declineButton = document.getElementById("decline-cookies");

    acceptButton.addEventListener("click", function() {
      document.cookie = "cookies_accepted=true; expires=365; path=/";
      cookieBanner.style.display = "none";
    });

    declineButton.addEventListener("click", function() {
      // Handle decline action here (e.g., remove cookies)
      cookieBanner.style.display = "none";
    });

    if (document.cookie.includes("cookies_accepted=true")) {
      cookieBanner.style.display = "none";
    } else {
      cookieBanner.style.display = "block";
    }
  });
</script>

<section id="hero" class="d-flex flex-column justify-content-center align-items-center">
  <div class="hero-container" data-aos="fade-in">
    <h1>{{ personal_info.user.first_name }} {{ personal_info.user.last_name }}</h1>
    <p>I'm <span class="typed-text"><span></span></span></p>
    
  </div>
</section>

<main id="main"></main>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    const typedElement = document.querySelector(".typed-text span");
    let typedItems = ["Beginner Python Developer", "Researcher", "Vet", "Knit and Crochet Designer"];
    let currentItem = 0;
    let currentText = "";
    let isDeleting = false;

    function type() {
      const item = typedItems[currentItem];
      if (isDeleting) {
        currentText = item.substring(0, currentText.length - 1);
      } else {
        currentText = item.substring(0, currentText.length + 1);
      }

      typedElement.textContent = currentText;

      let typeSpeed = 100;

      if (isDeleting) {
        typeSpeed /= 2; // Adjust the delete speed if needed
      }

      if (!isDeleting && currentText === item) {
        typeSpeed = 1000; // Time to wait before starting to delete
        isDeleting = true;
      } else if (isDeleting && currentText === "") {
        isDeleting = false;
        currentItem = (currentItem + 1) % typedItems.length;
      }

      setTimeout(type, typeSpeed);
    }

    type(); // Start the typing animation

    // Function to add or remove items from the list
    function addOrRemoveItem() {
      if (typedItems.length > 1) {
        // Remove the last item
        typedItems.pop();
      } else {
        // Add a new item
        typedItems.push("New Item");
      }

      // Reset the typing animation
      currentItem = 0;
      currentText = "";
      isDeleting = false;
    }
  });
</script>



{% endblock %}


