{% extends "base.html" %}
{% load static %}
{% block bodycontent %}

<section id="portfolio" class="portfolio section-bg">
<div class="container">

    <div class="section-title">
    <h2>Hobbies</h2>
    <p>In my spare time, I indulge in a variety of creative pursuits. 
        As a knit and crochet designer, I find joy in bringing intricate patterns to life through yarn and needles. 
        Alongside my design skills, I am also a professional singer, specializing in jazz, gospel, and folk genres, accompanied by my trusty guitar. 
        Additionally, I enjoy crafting dolls and bead jewelry, as well as engaging in outdoor activities like swimming, basketball, and hiking. 
        A bookworm at heart, I immerse myself in literature whenever I can, expanding my knowledge and feeding my imagination.</p>
    </div>

    <div class="row" data-aos="fade-up">
    <div class="col-lg-12 d-flex justify-content-center">
        <ul id="portfolio-flters">
        <li data-filter="*" class="filter-active">All</li>
        <li data-filter=".filter-app">App</li>
        <li data-filter=".filter-card">Card</li>
        <li data-filter=".filter-web">Web</li>
        </ul>
    </div>
    </div>

    <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100">

    <div class="col-lg-4 col-md-6 portfolio-item filter-app">
        <div class="portfolio-wrap">
        <img src="{% static 'assets/img/portfolio/portfolio-1.jpg' %}" class="img-fluid" alt="">
        <div class="portfolio-links">
            <a href="{% static 'assets/img/portfolio/portfolio-1.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"><i class="bx bx-plus"></i></a>
            <a href="{% static 'portfolio-details.html' %}" title="More Details"><i class="bx bx-link"></i></a>
        </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-6 portfolio-item filter-web">
        <div class="portfolio-wrap">
        <img src="{% static 'assets/img/portfolio/portfolio-2.jpg' %}" class="img-fluid" alt="">
        <div class="portfolio-links">
            <a href="{% static 'assets/img/portfolio/portfolio-2.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>
            <a href="{% static 'portfolio-details.html' %}" title="More Details"><i class="bx bx-link"></i></a>
        </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-6 portfolio-item filter-app">
        <div class="portfolio-wrap">
        <img src="{% static 'assets/img/portfolio/portfolio-3.jpg' %}" class="img-fluid" alt="">
        <div class="portfolio-links">
            <a href="{% static 'assets/img/portfolio/portfolio-3.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 2"><i class="bx bx-plus"></i></a>
            <a href="{% static 'portfolio-details.html' %}" title="More Details"><i class="bx bx-link"></i></a>
        </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-6 portfolio-item filter-card">
        <div class="portfolio-wrap">
        <img src="{% static 'assets/img/portfolio/portfolio-4.jpg' %}" class="img-fluid" alt="">
        <div class="portfolio-links">
            <a href="{% static 'assets/img/portfolio/portfolio-4.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 2"><i class="bx bx-plus"></i></a>
            <a href="{% static 'portfolio-details.html' %}" title="More Details"><i class="bx bx-link"></i></a>
        </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-6 portfolio-item filter-web">
        <div class="portfolio-wrap">
        <img src="{% static 'assets/img/portfolio/portfolio-5.jpg' %}" class="img-fluid" alt="">
        <div class="portfolio-links">
            <a href="{% static 'assets/img/portfolio/portfolio-5.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 2"><i class="bx bx-plus"></i></a>
            <a href="{% static 'portfolio-details.html' %}" title="More Details"><i class="bx bx-link"></i></a>
        </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-6 portfolio-item filter-app">
        <div class="portfolio-wrap">
        <img src="{% static 'assets/img/portfolio/portfolio-6.jpg' %}" class="img-fluid" alt="">
        <div class="portfolio-links">
            <a href="{% static 'assets/img/portfolio/portfolio-6.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 3"><i class="bx bx-plus"></i></a>
            <a href="{% static 'portfolio-details.html' %}" title="More Details"><i class="bx bx-link"></i></a>
        </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-6 portfolio-item filter-card">
        <div class="portfolio-wrap">
        <img src="{% static 'assets/img/portfolio/portfolio-7.jpg' %}" class="img-fluid" alt="">
        <div class="portfolio-links">
            <a href="{% static 'assets/img/portfolio/portfolio-7.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 1"><i class="bx bx-plus"></i></a>
            <a href="{% static 'portfolio-details.html' %}" title="More Details"><i class="bx bx-link"></i></a>
        </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-6 portfolio-item filter-card">
        <div class="portfolio-wrap">
        <img src="{% static 'assets/img/portfolio/portfolio-8.jpg' %}" class="img-fluid" alt="">
        <div class="portfolio-links">
            <a href="{% static 'assets/img/portfolio/portfolio-8.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 3"><i class="bx bx-plus"></i></a>
            <a href="{% static 'portfolio-details.html' %}" title="More Details"><i class="bx bx-link"></i></a>
        </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-6 portfolio-item filter-web">
        <div class="portfolio-wrap">
        <img src="{% static 'assets/img/portfolio/portfolio-9.jpg' %}" class="img-fluid" alt="">
        <div class="portfolio-links">
            <a href="{% static 'assets/img/portfolio/portfolio-9.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>
            <a href="{% static 'portfolio-details.html' %}" title="More Details"><i class="bx bx-link"></i></a>
        </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-6 portfolio-item filter-web">
        <div class="portfolio-wrap">
        <img src="{% static 'assets/img/portfolio/portfolio10.jpg' %}" class="img-fluid" alt="">
        <div class="portfolio-links">
            <a href="{% static 'assets/img/portfolio/portfolio10.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 2"><i class="bx bx-plus"></i></a>
            <a href="{% static 'portfolio-details.html' %}" title="More Details"><i class="bx bx-link"></i></a>
        </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-6 portfolio-item filter-web">
        <div class="portfolio-wrap">
        <img src="{% static 'assets/img/portfolio/portfolio11.jpg' %}" class="img-fluid" alt="">
        <div class="portfolio-links">
            <a href="{% static 'assets/img/portfolio/portfolio11.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 2"><i class="bx bx-plus"></i></a>
            <a href="{% static 'portfolio-details.html' %}" title="More Details"><i class="bx bx-link"></i></a>
        </div>
        </div>
    </div>

    </div>

</div>
</section>
{% endblock %}