{% extends "base.html" %}
{% load static %}
<!-- Add this in the <head> section of your HTML file -->


{% block bodycontent %}



  <!-- ======= Mobile nav toggle button ======= -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>


  <!-- ======= Header ======= -->
  {% include "header.html" %}
  <!-- End Header -->


  <!-- ======= Hero Section ======= -->
  {% include "hero.html" %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.11/typed.min.js"></script>

  <!-- End Hero -->

  <main id="main">

  <!-- ======= About Section ======= -->
  {% include "about.html" %}
  <!-- End About Section -->


  <!-- ======= Facts Section ======= -->
  {% include "facts.html" %}
  <!-- End Facts Section -->


  <!-- ======= Skills Section ======= -->
  {% include "skills.html" %}
  <!-- End Skills Section -->


  <!-- ======= Language Section ======= -->
  {% include "language.html" %}
  <!-- End Language Section -->

    <!-- ======= Resume Section ======= -->
    {% include "resume.html" %}
    <!-- End Resume Section -->

    <!-- ======= Hobby Section ======= -->
    {% include "hobby.html" %}
    <!-- End Hobby Section -->

    <!-- ======= Services Section ======= -->
    {% include "services.html" %}
    <!-- End Services Section -->

    <!-- ======= Contact Section ======= -->
    {% include "contact_bar.html" %}
    <!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  {% include "footer.html" %}

  {% endblock %} 

